<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>filter.HomeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>BaseController</servlet-name>
        <servlet-class>BaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>controller.ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeServlet</servlet-name>
        <servlet-class>controller.ChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassServlet</servlet-name>
        <servlet-class>controller.ChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddScheduleFilm</servlet-name>
        <servlet-class>controller.AddScheduleFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>controller.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderlineServlet</servlet-name>
        <servlet-class>controller.OrderlineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletefilmServlet</servlet-name>
        <servlet-class>controller.DeletefilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticServlet</servlet-name>
        <servlet-class>controller.StatisticServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopServlet</servlet-name>
        <servlet-class>controller.TopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeFilm</servlet-name>
        <servlet-class>controller.ChangeFilm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseController</servlet-name>
        <url-pattern>/base</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeServlet</servlet-name>
        <url-pattern>/changein4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassServlet</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFilm</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScheduleFilm</servlet-name>
        <url-pattern>/addschedulefilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderlineServlet</servlet-name>
        <url-pattern>/orderline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletefilmServlet</servlet-name>
        <url-pattern>/deletefilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticServlet</servlet-name>
        <url-pattern>/statistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopServlet</servlet-name>
        <url-pattern>/top</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeFilm</servlet-name>
        <url-pattern>/changefilm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
